@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
#Navbar{
    border: 1px solid black;
    margin: 5px;
    padding: 15px;
    text-align: center;
    background-color: rgb(255, 254, 240);
}
#links{
    display: inline;
}
#Navbar #links a{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid black;
    opacity: .70;
    transition: 0.4s;
}
#Navbar #links a:hover{ opacity: 1; transition: 0.4;}
#YT{background-color: red; color: white;}
#FB{background-color: rgb(35, 88, 202); color: white;}
#DC{background-color: rgb(116, 87, 206); color: white;}
#RDT{background-color: rgb(254, 76, 17); color: white;}
#X{background-color: black; color: white;}
.rounded{ border-radius: 5px; }

*{padding: 0px; margin: 0px;}
.banner{
    background-repeat: no-repeat;
    background-image: url(Coffeee.jpg);
    width: 1000px;
    height: 400px;
}
.banner h1{
    color: #7f5e3b;
    font-family: 'Young Serif', serif;
}
.banner h1 span{
    color:#A8825B;
}
.banner p{
    color: #A5845F;
    margin-bottom: 20px;
}
.banner a{
    padding: 10px;
    text-decoration: none;
    background-color: #A5845F;
    font-family: 'Roboto', sans-serif;
    text-transform: none;
    color: black
}